:root {
    --card--primary: #ffce00;
    --card--secondary: #fe4880;
    --card--dark: #212121;
    --card--light: #d4d4d4;
}

.my__card {
    margin: 3rem auto 5rem;
    width: 42em;
    height: 25em;
    perspective: 1000px;
}

/*  CARD__INNER */

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(-180deg);
}

/*  CARD__FACE */

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16;
    box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.2);
}

.card__face--front, 
.card__face--back {
    background-color: var(--card--light);
    z-index: -2;
}

.card__face--back {
    transform: rotateY(180deg);
}

/*  CARD__CONTENT */

.card__content--front,
.card__content--back {
    width: 100%;
    height: 100%;
  }

/*  CARD__HEADER */

.card__header--front, 
.card__header--back {
    position: relative;
    padding: 20px 20px 20px;
}

.card__header--front::after,
.card__header--back::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 40% 0;
    background-image: linear-gradient(185deg, var(--card--primary) 10%, var(--card--secondary) 130%);
}

.card__header--back::after {
    z-index: -2;
}
.card__header--front::after {
    z-index: -1;
}

.card__header--front h2,
.card__header--back h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/*  CARD__BODY */

.card__body--front,
.card__body--back {
    padding: 30px;
}

.card__body--front h3,
.card__body--back h3 {
    color: var(--card--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body--front p,
.card__body--back p {
    color: var(--card--dark);
    font-size: 18px;
    line-height: 1.5;
}